strong {
    color:dodgerblue;
}

h1 {
    background-color:lightgrey;font-family: Tahoma
}
h2  {
    background-color:lightgrey;font-family: brush script mt
}
Strong { font-family: brush script mt
}
em {color:dodgerblue;
}
p { color:black;
}